@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Lato&display=swap')

$primary-color: #EC9B3B
$primary-font: 'Lato', sans-serif 
$headline-font: 'Alegreya Sans', cursive

html
    font-family: $primary-font
    font-weight: bold
    line-height: 2.5
    font-size: 1em
    text-align: center
    text-transform: uppercase

body
    margin: 0
    padding: 0
    scroll-snap-type: y mandatory

h1
    font-family: $headline-font
    font-size: 3em

a, b
    color: $primary-color

p
    text-align: justify

ul
    list-style: none
    padding: 0
    margin: 0    

nav
    position: fixed
    min-height: 100vh
    min-height: -webkit-fill-available
    width: 100%
    text-align: center
    left: 1000px
    ul
        line-height: .8

section
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    margin: 0 40px
    scroll-snap-align: center

*::selection
    background: $primary-color
    color: #000000

.vertical-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.text-algin-center
    text-align: center

#background
    position: fixed
    pointer-events: none
    background-image: url("/assets/background.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    width: 100%
    top: 0
    left: 0
    opacity: 0.3

#projects
    font-size: 1.5em
    line-height: normal
    li
        margin: 1em

#showcaseDesktop
    left: 0
    padding: 20px 0
    z-index: 3
    img
        width: 100%

@media (max-width: 767px) 
    html
        overflow: hidden
    body
        height: 100%
        position: fixed
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
      